<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="sphere_wheel_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" /> 
    </gazebo>
    <!-- <gazebo> tagi, URDF dosyası içindeki "simülatöre özel" talimatları barındırır. -->
    <gazebo>
        <plugin filename="gz-sim-diff-drive-system"
                name="gz::sim::systems::DiffDrive" >
                <left_joint>base_left_wheel_joint</left_joint>
                <right_joint>base_right_wheel_joint</right_joint>
                <!-- wheel_seperation -> tekerleklerin merkezleri arasındaki uzaklık -->
                <wheel_separation>0.45</wheel_separation>
                <wheel_radius>0.1</wheel_radius>
                <topic>/model/my_robot/cmd_vel</topic>
                <odom_topic>/model/my_robot/odom</odom_topic>
                <frame_id>odom</frame_id>
                <!-- Bu sistemin içinde hareket eden çocuk parçanın adı ne -->
                <child_frame_id>base_footprint</child_frame_id>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher" >
            <joint_name>base_left_wheel_joint</joint_name>
            <joint_name>base_right_wheel_joint</joint_name>
        </plugin>
    </gazebo>
</robot>